@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Ubuntu', sans-serif
	overflow-x: hidden
	color: $text

	*
		font-family: 'Ubuntu', sans-serif

	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

b, strong
	font-weight: bold

.link-button,
.uk-section-secondary:not(.uk-preserve-color) .uk-button-default:hover
	border-radius: 2px
	border-color: $grey
	margin-bottom: 5px

	&:hover
		background: $accent
		border-color: $accent
		color: #fff

@import "media"
